@import url('reset.css');
$colorBG : #2743c0;
$colorPT : #7effb8;
$ripple : rgba(0, 247, 255, .01);

html, body{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    font-size:0;
    box-sizing: border-box;
    color:#fff;
    font-family: 'Noto Sans KR', sans-serif;
    user-select: none;
    overflow:hidden;
    box-sizing: border-box;
    cursor: none;
}
//loading start
#loading {
    width: 100%;
    height: 100%;
    position: fixed;
    background: #fff;
    z-index: 999;
    overflow:hidden;
    #loadingCircle{
        position: absolute;
        left: 45%;
        top: 40%;
        z-index: 1;
        width: 150px;
        height: 150px;
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid $colorBG;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}//loading end
#cursor{
    visibility: visible;
    background:#fff;
    opacity: 1;
    --size: 10px;
    height: var(--size);
    width: var(--size);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: fixed;
    z-index: 1000;
    transform: translate(-300%, -300%);
    pointer-events: none;
    margin: 32px 0 0 32px;
}
#circle{
    visibility: visible;
    border: 1px solid rgba(255,255,255,0.5);
    --size: 40px;
    height: var(--size);
    width: var(--size);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: fixed;
    z-index: 1000;
    transition: width .3s, height .3s, background .35s;
    transition-timing-function: ease-out;
    transform: translate(-50%, -50%);
    pointer-events: none;
    margin: 35px 0 0 33px;
    opacity: 0.5;
}
#background{
    position:fixed;
    width:100%;
    height:100%;
    z-index:-100;
}//background
.widthLines div{
    width:50%;
    height:100%;
    display:inline-block;
    outline:1px solid rgba(22, 255, 189, .1);
    background-color:$colorBG;
}
.heightLines div{
    left:0;
    top:0;
    width:100%;
    height:50%;
    display:inline-block;
    outline:1px solid rgba(126, 255, 184, .1);
}
.ripple {
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 100%;
    background:none;
    border:0.2vh solid $ripple;
    animation: rippleEffect 7s ease-in-out;
    pointer-events: none;
  }
  .ripple2 {
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 100%;
    background:none;
    border:0.2vh solid $ripple;
    animation: rippleEffect 7s ease-in-out;
    pointer-events: none;
  }
  .ripple3 {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 100%;
    background:none;
    border:0.2vh solid $ripple;
    animation: rippleEffect 7s ease-in-out;
    pointer-events: none;
  }
  .linger{
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 100%;
    background:$ripple;
    pointer-events: none;
  }
  @keyframes rippleEffect {
    0% {
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(var(--scale));
    }
  }
  [data-animation] {
    position: relative;
    overflow: hidden;
  }
//PC mainContents Start
#wrapper{
    display:none;
    width:100%;
    height:100%;
    position:fixed;
    overflow-y:hidden;
    overflow-x:hidden;
    background:rgba(0, 0, 0, 0);
    //chrome scrollbar start
    &::-webkit-scrollbar{
        background:rgba(0,0,0,0);
        height:7px;
    }
    &::-webkit-scrollbar-thumb {
        background:rgba(126, 255, 184, 1);
    }//chrome scrollbar end
    //IE scrollbar start
    scrollbar-3dLight-Color:none;
    scrollbar-arrow-color:none;
    scrollbar-base-color:none;
    scrollbar-Face-Color:$colorPT;
    scrollbar-Track-Color:none;
    scrollbar-DarkShadow-Color:none;
    scrollbar-Highlight-Color:none;
    scrollbar-Shadow-Color: $colorPT;
    //IE scrollbar scrollbar end
    #nav{
        width:auto;
        position:fixed;
        z-index:999;
        left:5%;
        top:-10%;//6%
        ul{
            li{
                margin-left:7vh;
                &:first-child{
                    margin:0;
                }
                display:inline-block;
                a{
                    cursor:none;
                    text-decoration: none;
                    color:$colorPT;
                    font-size:2.5vh;
                    &:hover{
                        border-bottom:2px solid $colorPT;
                        padding-bottom:1vh;
                        transition-duration: 0.3s;
                    }
                }
            }//li
        }//ul
    }
    #hamMenu{
        width:7vh;
        height:auto;
        position:fixed;
        left:5%;
        top:-10%;
        z-index:999;
        div{
            width:100%;
            height:0.8vh;
            margin-bottom:1vh;
            background:#fff;
            border-radius: 0.3vh;
            &:nth-child(3){
                margin:0;
            }
        }
    }
    #cont{
        width:100%;
        height:100%;
        white-space: nowrap;
        position:absolute;
        right:0%;
        transition-duration: 0.5s;
        #mainPage{
            width:100%;
            height:100%;
            display:inline-block;
            margin:0 auto;
            .contents{
                width:50%;
                height:100%;
                display:inline-block;
                font-size:20px;
                vertical-align: top;
            }//contents
        }//mainPage
        .pg01{
            .leftSide{
                #start{
                    position: absolute;
                    bottom:25vh;
                    left:50%;
                    transform:translate(-50%,-50%);
                    z-index:1;
                    text-align:center;
                .subText{
                    font-size:3vh;
                    }
                button{
                    width:25vh;
                    height:7vh;
                    font-size:2vh;
                    background:none;
                    border:1px solid #fff;
                    color:#fff;
                    margin-top:7%;
                    animation: blink 5s infinite;
                    &:hover{
                        transition-duration: .5s;
                        background:#fff;
                        color:#2743c0;
                        animation:none;
                    }
                    @keyframes blink{
                        0%{
                            background:#fff;
                            color:#2743c0;
                        }
                        25%{
                            background:none;
                            color:#fff;
                        }
                        50%{
                            background:none;
                            color:#fff;
                        }
                        75%{
                            background:#fff;
                            color:#2743c0;
                        }
                        100%{
                            background:#fff;
                            color:#2743c0;
                        }
                    }
                }
                }//start
                #pics{
                    transition-duration: 2s;
                    opacity:0;
                    div.emotionPic{
                        position:absolute;
                        bottom:10%;
                        left:5%;
                        img{
                            margin-right:3%;  
                            width:20%;
                            &:hover{
                                transition-duration: .3s;
                                box-sizing: border-box;
                                outline:1.5vh solid $colorPT;
                            }
                        }//emotion01
                    }//emotionPic
                }
            }//leftSide
            .rightSide{
                #title{
                    position:absolute;
                    letter-spacing: -2vh;
                    bottom:40%;
                    right:50%;
                    font-size:20vh;
                    font-weight:bolder;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    -webkit-text-stroke:.5vh;
                    transform:rotate(0deg) translate(48%,-50%);
                    color:#fff;
                }//title
                
                .subTitle{
                    font-family: 'Kosugi', sans-serif;
                    position:absolute;
                    top:1.5vh;
                    right:21vh;
                    writing-mode: vertical-rl;
                    font-size:5vh;
                    font-weight:bold;
                    color:$colorPT;
                    transition-duration: 1.5s;
                    opacity:0;
                }
            }
        }//pg01
        .pg02{
            .rightSide{
                #chatWrap{
                    margin:2% auto 0;
                    width:70%;
                    height:88%;
                    #chatForm{
                        width:100%;
                        height:100%;
                        box-sizing: border-box;
                        #inlist{
                            width:100%;
                            height:100%;
                            border:1vh solid $colorPT;
                            overflow-y:auto;
                            overflow-x:hidden;
                            padding-top:3%;
                            box-sizing: border-box;
                            &::-webkit-scrollbar{
                                display:none;
                            }
                            #talkbox{
                                width:100%;
                                height:auto;
                                li{
                                    width:90%;
                                    height:auto;
                                    font-size:2vh;
                                    padding:5%;
                                    margin:1% auto;
                                    background:$colorPT;
                                    color:$colorBG;
                                    list-style-type:none;
                                    box-sizing: border-box;
                                    border-radius: 1.5vh;
                                    word-wrap: break-word;
                                    word-break: break-all;
                                    white-space: normal;
                                }
                                #local{
                                    width:100%;
                                    height:3vh;
                                    text-align:right;
                                    background:none;
                                    color:$colorPT;
                                    font-size:2vh;
                                    margin-bottom:3%;
                                    padding-right:5%;
                                    box-sizing:border-box;
                                }
                            }
                        }
                        #dock{
                            width:100%;
                            height:auto;
                            background:$colorPT;
                            input#valin{
                                width:80%;
                                height:7vh;
                                line-height: normal;
                                padding-left: 3%;
                                padding-bottom: 1vh;
                                font-size: 2vh;
                                box-sizing: border-box;
                                border:0;
                                background:none;
                                color:$colorBG;
                                &::placeholder{
                                    color:$colorBG;
                                }
                                &:focus::-webkit-input-placeholder {color:transparent;}
                            }
                            button#submit{
                                width:16%;
                                height:6vh;
                                background:none;
                                border:1;
                                color:$colorBG;
                                font-size:2vh;
                                float:right;
                                margin-right:2%;
                                &:hover{
                                    color:#fff;
                                }
                            }//submit
                        }//dock
                    }//chatForm
                }//chatWrap
            }//pg02.rightSide
        }//pg02
        .pg03{
            .rightSide{
                white-space: normal;
                &::-webkit-scrollbar{
                    display:none;
                }
                #mmhacc{
                    height:100%;
                    overflow-y:auto;
                    overflow-x: hidden;
                    &::-webkit-scrollbar{
                        background:rgba(0,0,0,0);
                        width:4px;
                    }
                    &::-webkit-scrollbar-thumb {
                        background:rgba(126, 255, 184, 1);
                    }
                    img{
                        transition-duration: .3s;
                        width:35vh;
                        margin:2vh;
                        &:hover{
                            transform:scale(1.03);
                        }
                    }
                }//mmhacc
                #mmhaccBT{
                    border:1px solid red;
                    button{
                        width:10vh;
                        height:10vh;
                        border-radius: 50%;
                        background:none;
                        border:2px solid $colorPT;
                        color:$colorPT;
                    }
                }
            }
        }
        .pg04{
            .leftSide{
                #contact{
                    padding:5vh;
                    color:$colorPT;
                    .SNS{
                        width:100%;
                        height:auto;
                        margin-bottom:10vh;
                        .contact{
                            p{
                            width:100%;
                            font-size:3vh;
                            font-weight:bold;
                            margin-bottom:3vh;
                            }
                            div{
                                display:inline-block;
                                img{
                                    transition-duration: .3s;
                                    &:hover{
                                        transform: scale(1.05);
                                    }
                                    &:first-child{
                                        margin-right:3vh;
                                    }
                                }
                            }
                        }
                    }
                    .contactWrapper{
                        width:100%;
                        form{
                            width:100%;
                            p{
                                font-size:2.5vh;
                                margin-bottom:3vh;
                                font-weight:bold;
                                input{
                                    height:3.5vh;
                                    margin-top:.5vh;
                                    margin-bottom:.5vh;
                                    padding-left:.5vh;
                                    border-bottom:2px solid $colorPT;
                                    background:none;
                                    color:#fff;
                                    &:focus{
                                        border-bottom:2px solid #fff;
                                    }
                                    &::placeholder{
                                        color:$colorPT;
                                        opacity: .5;
                                    }
                                }
                            }//p
                            textarea{
                                width:100%;
                                height:100px;
                                margin-top:10px;
                                margin-bottom:10px;
                                padding:5px;
                                resize: none;
                                border:3px solid $colorPT;
                                background:none;
                                color:#fff;
                                &:focus{
                                    border:3px solid #fff;
                                }
                            }
                            .send{
                                width:15vh;
                                height:7vh;
                                font-size:2.5vh;
                                font-weight:bold;
                                border:0;
                                transition-duration: 0.3s;
                                float:right;
                                background:$colorPT;
                                color:$colorBG;
                                cursor: pointer;
                                &:hover{
                                    color:#fff;
                                }
                            }
                            input{
                                width:50%;
                                border:none;
                            }//input
                        }//form
                    }//contactWrapper
                }
            }
            .rightSide{
                #star-wars {
                    display: flex;
                    justify-content: center;
                    position: relative;
                    height: 100%;
                    width:100%;
                    color: $colorPT;
                    letter-spacing: 1vh;
                    line-height: 8vh;
                    text-align: justify;
                }
                .sub {
                    position: relative;
                    right:0;
                    top: 100%;
                    animation: crawl 30s linear infinite;
                    .title {
                        font-size: 2.5vh;
                        text-align: center;
                        h1{
                            font-size:3.5vh;
                            margin: 0 0 3vh;
                            text-transform: uppercase;
                        }
                    }
                }//sub
                .sub02 {
                    position: absolute;
                    top: 100%;
                    .title {
                        font-size: 2.5vh;
                        text-align: center;
                        h1{
                            font-size:3.5vh;
                            margin: 0 0 3vh;
                            text-transform: uppercase;
                        }
                    }
                }//sub02
                  @keyframes crawl {
                    0% {
                        top: 100%;
                    }
                    25% { 
                        top: 50%;
                    }
                    50%{
                        top: 0%;
                    }
                    75%{
                        top:-50%;
                    }
                    100%{
                        top:-100%;
                    }
                  }
            }//rightSide
        }//pg04
    }//#cont
}//wrapper
$bgColor:#333;
$txtColor:#fff;
$txtBgColor:transparent;
$glitchTime: 1s; //in seconds
$glitchSteps:10;
$glitchColor: darken($txtColor,50%);
.glitching {
	color: $txtColor;
	position: relative; 
	text-shadow: 0 1px darken($txtColor,50%);
}
@keyframes noise-anim {
	@for $i from 0 through $glitchSteps {
		#{percentage($i*(1/$glitchSteps))} {
			clip: rect(random(100)+px, 9999px, random(100)+px, 0);
		}
	}
}
.glitching:after {
	content: attr(data-text);
	position: absolute;
	left: -1px;
	text-shadow: 1px 0  $glitchColor;
	top: 0;
	color: $txtColor;
    background: $txtBgColor;
	overflow: hidden;
	animation: noise-anim $glitchTime infinite linear alternate-reverse;
	width: 100%;
}
